Repository RedHatQE/must-gather-explorer, pull requests merged in 2024-11, with the labels that each got.

#29 Handle resource alias not found error
  app/constants.py
  app/exceptions.py
  app/main.py
  app/resource_aliases.py
  app/utils.py
Labels: verified, size/L, can-be-merged, branch-main, commented-jpeimer, approved-myakove

#31 Add progress bar for parsing files, use Path to work with files
  README.md
  app/main.py
  app/utils.py
  pyproject.toml
  uv.lock
Labels: verified, size/XL, can-be-merged, branch-main, commented-jpeimer, commented-coderabbitai[bot], approved-jpeimer

#35 Use python 3.12, update version to 0.1.4, add authors
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: verified, size/L, can-be-merged, branch-main, approved-myakove

#37 Fix alias file path when installed from pypi
  .github/in-solidarity.yml
  app/utils.py
  must_gather_explorer/__init__.py
  must_gather_explorer/constants.py
  must_gather_explorer/exceptions.py
  must_gather_explorer/main.py
  must_gather_explorer/manifests/aliases.json
  must_gather_explorer/resource_aliases.py
  must_gather_explorer/utils.py
  pyproject.toml
Labels: verified, size/M, can-be-merged, branch-main, approved-myakove
